<div class="footer--main">
        <h2>FAQ</h2>
        <h2>Returns</h2>
        <h2>shipping</h2>
        <h2>contact</h2>
        <!--<h2>Store finder</h2>-->
        <div class="index--social_media">
            <a href="https://www.facebook.com/Smittenmitts/" target="_blank"><img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/social-facebook.png?7955300992394463818"></a>
            <a href="https://www.instagram.com/smittenmitts/" target="_blank"><img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/social-instagram.png?7955300992394463818"></a>
            <!--<a href="https://www.snapchat.com/add/paulvalentinee" target="_blank"><img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/social-snapchat.png?7955300992394463818"></a>-->
            <a href="https://www.pinterest.com/search/pins/?q=double%20oven%20mitt&rs=typed&term_meta[]=double%7Ctyped&term_meta[]=oven%7Ctyped&term_meta[]=mitt%7Ctyped" target="_blank"><img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/social-pinterest.png?7955300992394463818"></a>
        </div>
        <h2>Site by Nathan Turner</h2>
        <h2>Copyright Smitten Mitts 2017</h2>
        <h2>Terms & Conditions | Privacy | Legal Notice</h2>
</div>