<h1>COmponent is working</h1>

<section class="insta--flex">
    <div class="insta--photos_parent">
         <img src="././imagefiles/ig1.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig2.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig3.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig4.jpg" alt="" class="insta--photos_child">
    </div>
    <div class="home--instagram">
        <div class="home--instagram_content">
            <div class="home--insta_icon1">
                <img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/instagram--white.png?7955300992394463818">
            </div>
            <h2>Shop instagram</h2>
        </div>
    </div>
    <div class="insta--photos_parent">
        <img src="././imagefiles/ig5.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig6.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig7.jpg" alt="" class="insta--photos_child">
        <img src="././imagefiles/ig8.jpg" alt="" class="insta--photos_child">
    </div>
    
</section>