
<!--For now i set the display to none-->
<section class="nav-directive">
<!--<section ng-controller="controller">-->
    <header class="site-header">
        <div class="ham">
            <div class="header--ham"></div>
            <div class="header--ham"></div>
            <div class="header--ham"></div>
        </div>
        <!--<a ng-click="home()">-->
        <a ui-sref="home">
            <div class="site-header__logo " id="header">go home</div>
        </a>
        <div class="header--cart" ng-click="showmeFn()"></div>
    </header>
    <div class="header-expand">
        paul valentine
        <h2>watches</h2>
        <h2>straps</h2>
        <h2>Shop Instagram</h2>
        <h2>brand</h2>
        <h2>customer care</h2>
        <div class="social"></div>
    </div>
    <div class="header-overlay"></div>
</section>