<section class="nav">
    <!--<div class="nav--fixed"> does this work?</div>-->
    <div class="nav--ham_parent">
        <div class="nav--ham_child"></div>
        <div class="nav--ham_child"></div>
        <div class="nav--ham_child"></div>
    </div>
    <a ui-sref="home">
        <div class="nav--logo" id="header"></div>
    </a>
    <div class="nav--cart_icon" ng-click="showmeFn()"></div>
    <div class="header-expand">
        paul valentine
        <h2>watches</h2>
        <h2>straps</h2>
        <h2>Shop Instagram</h2>
        <h2>brand</h2>
        <h2>customer care</h2>
        <div class="social"></div>
    </div>
    <div class="header-overlay"></div>